<ul class="grid">
  {% for color in colors %}
  <li>
    <article class="swatch" style="background:{{ color.hex }}">
      <div>
        <span class="hex" data-text={{color.hex}}>{{ color.hex }}</span>
      </div>

      <a href="{{ color.url }}" target="_blank" class="name">{{ color.name }}</a>
    </article>
  </li>
  {% endfor %}
</ul>

<div aria-live="polite">
  <p class="color-list-empty">No colours match this search.</p>
</div>