<footer id="footer">
  <a href="#header">Back to top</a>

  <p>
    Created by
    <a
      href="https://github.com/svillegascreative"
      target="_blank"
      rel="noopener"
    >svillegascreative</a>.
  </p>
  
  <p>
    Made with <a
      href="https://www.11ty.dev/"
      target="_blank"
      rel="noopener"
    >Eleventy</a>. Hosted on
    <a
      href="https://www.netlify.com/"
      target="_blank"
      rel="noopener"
    >Netlify</a>. Source on <a
      href="https://github.com/svillegascreative/hexcolor-words"
      target="_blank"
      rel="noopener"
    >GitHub</a>.
  </p>
</footer>