<div class="search-container">
  <label for="searchInput"
    >Search {{colors.length}} colors by name or hex</label
  >
  <div
    style="
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
    "
  >
    <input type="text" id="searchInput" class="search-input" />
    <button type="button" id="clearSearchBtn" class="search-clear-btn">
      Clear
    </button>
  </div>
</div>