<div class="stack-tight search">
  <label for="searchInput">
    Search <b>{{colors.length}}</b> colors by name or hex:
  </label>
  <input
    type="search"
    id="searchInput"
    class="search-input"
    aria-describedby="search-description"
    spellcheck="false"
  />
  <span class="visually-hidden" id="search-description">
    List of colors filtered dynamically as you type
  </span>
</div>