.actions-panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background: var(--panel-color-bg);  
  padding: 2rem 1rem 1rem;
  margin-block-end: 2rem;
}

@media (width > 45rem) {
  .actions-panel {
    flex-direction: row;
    gap: clamp(1rem, 10vw, 8rem);
    padding: 3rem 1rem 1rem;
  }
}