.theme-toggle {
  grid-area: "toggle";
  align-self: end;
  position: relative;
  border-radius: 10rem;
  display: inline-block;
  width: 6rem;
  color: var(--color-text);
  padding-block: 0.25rem;


  &::after {
    position: absolute;
    content: "";
    height: calc(100% - 4px);
    aspect-ratio: 1/1;
    top: 2px;
    border-radius: 10rem;
    background-color: var(--button-border-color);
  }
}

[data-theme="dark"] .theme-toggle {
  background-color: var(--color-dark);
  padding-inline-start: 0.25rem;
  padding-inline-end: 2rem;

  &::after {
    right: 2px;
  }
}

[data-theme="light"] .theme-toggle {
  background-color: var(--color-light);
  padding-inline-start: 2rem;
  padding-inline-end: 0.25rem;

  &::after {
    left: 2px;
  }
}