.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }
}

.modal-content {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: var(--panel-color-bg);
  border-radius: var(--border-radius-md);
  box-shadow: 0 4px 24px var(--color-darkest);
  padding: 2rem 2.5rem;

  h2 {
   margin-top: 0;
   margin-bottom: 1rem;
  }
}

.modal-content .close {
  position: absolute;
  background: none;
  border: none;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: var(--color-ui);

  &:hover {
    color: #222;
  }
}

.modal-footer {
  margin-block-start: 1rem;
  text-align: center;
  text-wrap: pretty;
}
