@font-face {
  font-family: 'Solway';
  src: url('/fonts/Solway-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Solway';
  src: url('/fonts/Solway-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

