.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-800%);
    background: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 1rem;
    
    &:focus-visible {
      transform: translateX(0%);
    }
  }
}


/* STACK */

.stack-tight {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.stack-loose {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stack-wide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}