@import url("_variables.css");

@import url("_reset.css");

@import url("components/_light-dark-toggle.css");
@import url("components/_search.css");
@import url("components/_suggestion-widget.css");
@import url("components/_color-grid.css");
@import url("components/_modal.css");

@import url("_utilities.css");

body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

/* HEADINGS */
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
