@import url("_variables.css");

@import url("_reset.css");

@import url("components/_light-dark-toggle.css");
@import url("components/_search.css");
@import url("components/_suggestion-widget.css");
@import url("components/_color-grid.css");
@import url("components/_modal.css");

@import url("_utilities.css");

body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

/* HEADINGS */
h1 {
  text-align: center;
  margin-bottom: 2rem;
}

button {
  background: #222;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #444;
  }
}

input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  width: 300px;
  max-width: 90vw;
}