---
layout: document.njk
---

<header id="header">
  <h1>Hexcolor Words</h1>

  <div class="actions-panel">
    <p>When the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/hex-color">hexadecimal color syntax</a> in CSS appears to spell words...</p>

    {% include 'search.njk' %}

    {% include 'light-dark-toggle.njk' %}
  </div>
</header>

<div class="skip-link">
  <a href="#footer">Skip to footer</a>
</div>

<main>
  {% include 'color-grid.njk' %}
</main>

{% include 'footer.njk' %}
